@charset "utf-8";
/* CSS Document */

/*global css*/
html{width:100%;height:100%;}
html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, textarea, blockquote, th, td, p, img{margin:0;padding:0;border:0;}
body{color:#333;font-family:Simsun,Arial; width:100%; margin:0 auto;font-size:12px; background:#fff;}
table {border-collapse:collapse;border-spacing:0;}
img {border:0;}
div:after, ul:after, li:after {clear: both;content: " ";display: block;font-size: 0;height: 0;visibility: hidden;*zoom:1;}
p{ line-height:20px; color:#333;  font-weight:400; font-size:12px;}
ul,li,ol{list-style-type:none;}
select,input,img,select{vertical-align:middle;outline:none;}
.clear{clear:both; overflow:hidden;*zoom:1;}
a{color:#333;}
a:link,a:visited{color:#333; text-decoration:none;}
a:hover{ color:#c00;text-decoration:underline;}
h1{font-size:16px;}
h2,h3,h4{font-size:14px;}
h6{ text-align:center;}
.white,.white a{color:#fff;}
.white a:link,.white a:visited,.white a:hover{ color:#fff;}
.floatleft{ float:left;}
.floatright{ float:right;}
.nobg{background:none;}
.noborder{border:none;}
.pad10{padding-top:10px;}
.pad15{	padding-top:15px;}
.pad20{padding-top:20px;}
.padright30{padding-right:30px;}
.margin10{margin-top:10px;}
.margin15{margin-top:15px;}
.margin20{margin-top:20px;}
.marleft10{margin-left:10px;}
.marleft20{margin-left:20px;}
.mr25{margin-right:25px;}
.pt30{padding-top:30px;}
.red{color:#f00;}
.red a,.red a:link,.red a:visited{color:#f00;}
.red a:hover{color:#f00; text-decoration:underline;}
.font14{font-size:14px;}
.font12{font-size:12px;}
.txtline{text-decoration:underline;}
.gray{ color:#999;}
.gray2{color:#a2a3a3;}
.blue{color:#015bb7;}
.gray_beizhu{padding:15px;}
.fn{font-weight:normal;}
.dn{display:none;}
.vm{ vertical-align:middle;}

*html{
    background-image:url(about:blank);
    background-attachment:fixed;
}

/*header topbar*/
.header,.head,.top_bar
{
    width:100%;
    min-width:950px;
}
.top_con,.head_con,.main,.footer .foot
{
    width:950px;
    margin:0 auto;
}
.top_con .logo img,.top_con .logo h2,.top_con .logo .cz_menu,.top_con .logo .cz_menu strong,.top_con .logo .cz_menu .cz_con
{
    float:left;
}
.top_bar
{
    _position:relative;
    _z-index:11;
}
.top_con
{
    padding:10px 0;
}
.top_con .logo h2
{
    border-left:solid 1px #ddd;
    padding:10px;
    font:18px/24px "Microsoft Yahei","黑体";
    margin-left:15px;
}
.top_con .logo .cz_menu strong
{
    display:block;
    padding-top:5px;
}
.top_con .logo .cz_menu
{
    padding-top:10px;
}
.pull_down
{
    position:relative;
    z-index:9;
}
.pull_down p
{
    border:solid 1px #80addb;
    height:16px;
    padding:4px 0 4px 4px;
    line-height:18px;
    cursor:pointer;
    width:150px;
}
.pull_down .pull_list
{
    border:solid 1px #80addb;
    position:absolute;
    left:0;
    top:24px;
    width:154px;
    display:none;
    background:#fff;
    z-index:9;
}
.pull_down .pull_list li
{
    line-height:20px;
    padding:0 4px;
    cursor:pointer;
}
.ico_xiala
{
    background:url(../images/ico_xiala.gif) no-repeat center;
    border-left:solid 1px #80addb;
    display:block;
    width:25px;
    height:25px;
    _height:26px;
    position:absolute;
    right:0;
    z-index:9;
    top:0;
}
.pull_down .pull_list li.active
{
    background:#eee;
}
.pull_down_gray p
{
    height:24px;
    line-height:24px;
    border-color:#ddd;
}
.pull_down_gray .ico_xiala
{
    height:33px;
    border-color:#ddd;
    width:32px;
    background:url(../images/pull_down.gif) no-repeat center;
}
.pull_down_gray .pull_list
{
    border-color:#ddd;
    top:33px;
}
.pull_down_gray .pull_list li
{
    line-height:28px;
}
.pull_down_gray .w220
{
    width:220px;
}
.pull_down_gray .w224
{
    width:224px;
}
.login_info span
{
    display:block;
    float:left;
    margin-left:15px;
    _margin-left:12px;
}
.login_info span img
{
    padding-right:5px;
}
.login_info span.account
{
    padding-right:5px;
}
.head
{
    background:#347cc5;
    border-bottom:solid 2px #1065bb;
    height:63px;
    _position:relative;
    z-index:1;
}
.head_con
{
    position:relative;
}
.head_con .zhanwei_title h3,.head_con .zhanwei_title p
{
    color:#fff;
}
.head_con .zhanwei_title p
{
    padding-top:5px;
}
.process
{
    position:absolute;
    right:0;
    top:-5px;
    width:398px;
    height:70px;
    background:url(../images/t1_bg.gif) no-repeat center;
}
.process strong
{
    padding:30px 15px 0 30px;
    color:#fff;
    font-size:14px;
    display:block;
    float:left;
}
.process .process_list,.process .process_list li
{
    float:left;
    color:#fff;
}
.process .process_list
{
    background:url(../images/process01.gif) no-repeat center bottom;
    width:260px;
    height:35px;
    margin-top:13px;
}
.process .process_list02
{
    background:url(../images/process02.gif) no-repeat center bottom;
}
.process .process_list03
{
    background:url(../images/process03.gif) no-repeat center bottom;
}
.process .process_list li
{
    padding-right:78px;
}
.process .process_list li.on
{
    font-weight:bold;
}
/*main*/
.main_left
{
    width:165px;
}
.main_left ul li
{
    padding-bottom:5px;
}
.main_left ul li h3
{
    height:28px;
    background:url(../images/t1.gif) repeat-x center bottom;
    border:solid 1px #ddd;
    line-height:28px;
    _height:22px;
    _padding-top:6px;
}
.main_left ul li h3 img
{
    position:relative;
    top:-2px;
    padding:0 8px 0 20px;
    _top:0;
}
.main_left ul li h3 a
{
    display:block;
    width:100%;
    height:100%;
}
.main_left ul li .sub_menu
{
    border:solid 1px #ddd;
    margin-top:-1px;
    padding:10px 25px;
}
.main_left ul li .sub_menu dt
{
    line-height:22px;
    background:url(../images/ico_dot.png) no-repeat center left;
    padding-left:15px;
}
.right_wrapper
{
    width:767px;
}
.position
{
    padding-bottom:10px;
    color:#015bb7;
}
.main_right
{
    width:765px;
    border:solid 1px #ddd;
    min-height:465px;
    _height:465px;
}
.index_title
{
    background:#eee;
    height:35px;
    line-height:35px;
}
.index_title h2
{
    font-weight:normal;
}
.index_title h2,.index_title span
{
    float:left;
}
.index_title h2
{
    padding:0 30px 0 20px;
}
.index_title h3
{
    padding-left:30px;
}
.info_wrapper
{
    padding:30px;
}
.info_wrapper .info_left
{
    width:462px;
}
.btn_blue,.btn_gray
{
    background:url(../images/t2.gif) repeat-x center bottom;
    height:30px;
    border:solid 1px #70a3d7;
    width:90px;
    text-align:center;
    font-weight:bold;
    font-size:14px;
    cursor:pointer;
    outline:none;
    color:#fff;
}
.btn_gray
{
    background:url(../images/t1.gif) repeat-x center bottom;
    border:solid 1px #ccc;
    font-weight:normal;
    color:#333;
}
.gailan_table
{
    border:solid 1px #ddd;
    width:100%;
    _width:99.99%;
    border-collapse:collapse;
}
.gailan_table tr td
{
    line-height:22px;
    padding:6px 10px;
    border-bottom:dashed 1px #ccc;
}
.gailan_table02 tr td
{
    border-right:solid 1px #ddd;
}
.gailan_table .title
{
    background:#eee;
    border-bottom:solid 1px #ddd;
}
.blue,.blue a:link,.blue a:visited
{
    color:#015bb7;
}
.blue a:hover
{
    text-decoration:underline;
    color:#c00;
}
.records
{
    border-top:solid 1px #ddd;
    padding:15px;
}
.info_right
{
    width:176px;
    border:solid 1px #ddd;
    padding:8px;
}
.info_right h3
{
    text-align:center;
    padding-bottom:5px;
}
.info_right p
{
    text-indent:2em;
}
.set_info
{
    font-size:14px;
}
.set_info li
{
    *zoom:1;
}
.set_info b
{
    display:block;
    float:left;
    width:108px;
    text-align:right;
    margin-right:10px;
    line-height:34px;
}
.set_info h6 img,.view h6 img,.bg_list h6 img
{
    border:solid 1px #ddd;
    margin-bottom:8px;
}
.img158 img
{
    width:158px;
    height:88px;
}
.view h6 img,.bg_list h6 img
{
    width:158px;
    height:118px;
}
.set_info h6 p
{
    text-align:center;
}
.set_info .input_con
{
    float:left;
}
.set_info .input_con p
{
    color:#999;
    font-size:12px;
}
.company_title
{
    padding-bottom:10px;
}
.txtarea
{
    border:solid 1px #ddd;
    outline:none;
    width:480px;
    min-width:480px;
    max-width:480px;
    max-height:120px;
    min-height:120px;
    height:120px;
    padding:5px;
    color:#999;
    vertical-align:top;
    font-size:14px;
}
.txtarea_editor
{
    width:700px;
    min-width:700px;
    max-width:700px;
    max-height:200px;
    min-height:200px;
    height:200px;
}
.txtarea_editor02
{
    width:560px;
    min-width:560px;
    max-width:560px;
    max-height:200px;
    min-height:200px;
    height:200px;
}
.txt
{
    border:solid 1px #ddd;
    height:32px;
    line-height:32px;
    padding:0 3px;
    width:160px;
    outline:none;
    font-size:12px;
    color:#666;
}
.txt220
{
    width:300px;
}
.file_choose
{
    margin-top:7px;
}
.view,.bg_list li
{
    text-align:center;
}
.bg_list
{
    padding:0 30px 30px;
    *zoom: 1;
    margin-right: -25px;
}
.bg_list li
{
    float:left;
    margin:0 18px 10px 0;
    _display:inline;
}
.bg_list li.add
{
    border:solid 1px #ddd;
    background:#eee;
    width:158px;
    height:118px;
    font-size:14px;
}
.bg_list li.add b
{
    font: 30px/32px "Arial";
    padding-top:30px;
    display:block;
}
.bg_list100
{
    padding:0;
}
.bg_list100 li h6 img,.img100 img
{
    width:100px;
    height:100px;
}
.radio_btn
{
    position:relative;
    top:-2px;
}
.btn_gray a,.btn_blue a
{
    display:block;
}
.bg_list li.add a,.add_lanmu .edit a,.add_lanmu .del a,.btn_gray a,.btn_blue a,.add_ziliao .edit a,.recovery a
{
    display:block;
    widht:100%;
    height:100%;
    line-height:30px;
}
.bg_list li.add a:hover,.s_block:hover
{
    text-decoration:none;
}
.add_lanmu .num
{
    width:25px;
    height:20px;
    border:solid 1px #ccc;
    text-align:center;
    line-height:20px;
}
.add_lanmu .name
{
    height:22px;
    line-height:22px;
    width:280px;
}
.add_ziliao .name
{
    height:22px;
    line-height:22px;
    width:220px;
}
.ellipsis
{
    overflow:hidden;
    text-overflow: ellipsis;
    white-space:nowrap;
    _width:100%;
}
.edit,.add_lanmu .del,.add_ziliao .edit,.recovery
{
    background:url(../images/icons_bg.png) no-repeat;
    width:20px;
    height:20px;
    display:inline-block;
    margin-top:5px;
    _overflow:hidden;
    _margin:0 3px;
}
.add_lanmu .edit,.add_ziliao .edit
{
    background-position:0 0;
}
.add_lanmu .edit:hover,.add_ziliao .edit:hover
{
    background-position:0 -20px;
}
.add_lanmu .del
{
    background-position:0 -40px;
    _background-position:0 -41px;
    _height:19px;
}
.add_lanmu .del:hover
{
    background-position:0 -60px;
}
.add_lanmu .recovery
{
    background-position:0 -102px;
    width:22px;
    height:22px;
}
.add_lanmu .recovery:hover
{
    background-position:0 -80px;
}
.check_words
{
    padding-left:110px;
}
#show_mingpian
{
    display:none;
}
/*展位预览*/
.view_wrapper
{
    width:948px;
    height:798px;
    background:#eee;
    margin:20px auto 80px;
    border:solid 1px #ddd;
    text-align:center;
}
.view_wrapper h6
{
    font:60px/798px "Microsoft Yahei","黑体";
    color:#ddd;
}
.view_wrapper img
{
    width:948px;
    height:798px;
}
.search
{
    margin-top:2px;
}
.info_wrapper_ts
{
    padding:30px 0;
}
.search .txt
{
    width:200px;
    height:25px;
    line-height:25px;
    border-color:#80addb;
}
.search .search_btn
{
    width:87px;
    height:26px;
    background:url(../images/search_btn.gif) no-repeat center;
    cursor:pointer;
    border:none;
    line-height:26px;
}
.page a,.page span
{
    line-height:20px;
    font-size:12px;
}
.ts_table,.ts_table .title,.ts_table .title td
{
    border:none;
}
.ts_table tr td
{
    padding:10px 5px;
}
.ts_table tr td.first,.ts_table2 tr td.first
{
    padding:10px 5px 10px 20px;
}
.s_block
{
    display:inline-block;
    line-height:30px;
}
label.error
{
    color:#f00;
    font-size:12px;
    margin-left:10px;
    line-height:34px;
}


/*footer*/
.footer
{
    width:100%;
    border-top:solid 1px #ddd;
    min-width:950px;
    margin-top:80px;
    padding:10px 0 60px;
}
.footer .foot
{
    text-align:center;
}
.footer .foot a
{
    margin:0 15px;
}
/*#咨询按钮*/
#zixun_btn
{
    position:fixed;
    _position:absolute;
    _bottom:auto;
    _top:expression(eval(document.documentElement.scrollTop));
    right:50%;
    margin-right:-610px;
    top:200px;
    _margin-top:200px;
}
.add
{
    background:url(../images/ico_add.png) 0 0 no-repeat;
    display:inline-block;
    width:14px;
    height:13px;
    position:relative;
    top:2px;
    margin-right:7px;
}
.set_kefu
{
    padding:32px 35px 0 33px;
}
.set_kefu ul
{
    border-top:1px dashed #c5c5c5;
    margin-top:12px;
    padding:18px 0 0 26px;


}
.set_kefu p
{
    padding:11px 0 0 28px;
}
.set_kefu p a
{
    color:#015bb7;
}


.set_kefu ul li
{
    margin-bottom:10px;
    overflow:hidden;

}
.set_kefu li input,.set_kefu li label{ vertical-align:middle;}

/*上传按钮*/
.upload_btn{width:87px; height:32px;opacity:0; filter:alpha(opacity=0);margin-left:-87px;}
.file_btn{width:87px; height:32px; font-size:14px;color:#3f4040;}
.upload_text{border:none;width:96px; *border:1px solid #fff;}
/*多媒体页*/
.new_video p{ line-height:20px;color:#a2a3a3;margin-top:14px;}
.video_file{ line-height:34px;}
.new_video{padding-top:27px; padding-left:70px; clear:both;}

.pic_list_item{ background:#eee; width:579px; height:90px; padding:11px 12px 12px 11px;margin-bottom:17px;}
.pic_list_item textarea{width:398px; height:54px; border:1px solid #ddd;outline:none;color:#a2a3a3; padding:9px 0  0 9px; resize:none;}
.main_pic{ position:relative;border:1px solid #ddd;}
.main_pic span{position:absolute;right:1px;top:1px; background:#0ac002;color:#fff;padding:3px 6px;}
.main_pic img{width:158px; height:88px; }
.pic_opera p{padding:8px 0 0 9px;}
.add_file{border:solid 1px #ddd;background:#eee;width:158px;height:88px; font-size:14px; display:block; text-align:center;}
.add_file:link{color:#969797;}
.add_file:hover{ text-decoration:none;color:#cc0000;}
.add_file b{font: 40px/32px "Arial";padding-top:15px; padding-bottom:3px;display:block;}
.pic_con .tips{padding:7px 0 32px 0;color:#a2a3a3;}
.pic_bottom{padding-left:11px;}
.pic_left{width:77px; text-align:right;margin-right:10px;}
.pic_left span{ text-align:center; display:block;}
.pic_ul li{margin-bottom:25px;margin-top:32px;}

/*展台分享页*/
.fb{ font-weight:bold;}
.share_wrapper p{color:#000; line-height:24px;}
.share_wrapper .see_status:link{color:#06c;}
.share_wrapper .see_status:hover{color:#f00;}
.share_wrapper .tips{color:#666;margin-top:25px;font-weight:bold;}
.share_wrapper #tglink{width:413px; height:28px; line-height:28px\9; border:1px solid #ccc; padding:0;}
.share_list{margin-top:80px;}
.share_list ul li{ float:left; display:inline; text-align:center; margin-right:12px;}
.share_list ul li img{width:48px; height:48px; padding:2px; border:1px solid #cdcdcd; border-radius:3px;}
.share_list ul li p{white-space:nowrap; text-overflow:ellipsis; overflow:hidden;width:54px;}
.share_way{margin-top:25px;}
.bdsharebuttonbox{ display:none;}
